<a href="https://colab.research.google.com/github/yuchuanlo/-2/blob/main/%E8%A8%88%E6%A6%82%E4%BD%9C%E6%A5%ADw4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
conn=sqlite3.connect('BBQ')
cursor=conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS BBQ(
      id INTERGER PRIMARY KEY,
      name TEXT,
      price INTERGER,
      quantity INTERGER
    )''')
cursor.execute("INSERT INTO BBQ (name,price,quantity) VALUES ('chicken',30,5)")
cursor.execute("INSERT INTO BBQ (name,price,quantity) VALUES ('beaf',55,10)")
cursor.execute("INSERT INTO BBQ (name,price,quantity) VALUES ('pork',40,15)")
conn.commit()

cursor.execute("UPDATE BBQ SET price=35 WHERE name= 'pork'")
cursor.execute("UPDATE BBQ SET quantity=30 WHERE name= 'chicken'")
conn.commit()

cursor.execute("SELECT * FROM BBQ")
BBQ=cursor.fetchall()
print("表格內容：")
for BBQ in BBQ:
  print(BBQ)

cursor.execute("DELETE FROM BBQ WHERE price = 40")
conn.commit()

cursor.execute("SELECT * FROM BBQ")
BBQ=cursor.fetchall()
print("表格內容：")
for BBQ in BBQ:
  print(BBQ)

cursor.close()
conn.close()

表格內容：
(None, 'chicken', 30, 30)
(None, 'beaf', 55, 10)
(None, 'pork', 35, 15)
表格內容：
(None, 'chicken', 30, 30)
(None, 'beaf', 55, 10)
(None, 'pork', 35, 15)